# Created by .ignore support plugin (hsz.mobi)
Будет удалено .idea/compiler.xml
Будет удалено .idea/dataSources.local.xml
Будет удалено .idea/dataSources.xml
Будет удалено .idea/dataSources/
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/libraries/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/vcs.xml
Будет удалено .idea/workspace.xml
Будет удалено src/test/
Будет удалено target/
